body {
    font-size: 24% ;
    font-family:'Source Sans Pro', sans-serif;
    text-align: center; /* hace que la lista del menu se vaya al medio*/
    background-color: rgb(244, 247, 249);

}

header{
    background-color:  rgb(244, 247, 249);
    padding: 0px

}
.buscar{
    margin-top: 37px;
    margin-left: 30px;
    padding: 5px;
}
.buscar input{
    width: 390px;
    height: 40px;
    padding: 2px;
    font-size: 16px;
    outline: none;
}
#carouselExampleAutoplaying{
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
}
.Orden{
    display: flex;
    justify-content: start; /*para que se vaya al centroo*/
}
#logo{
    margin-top: 25px;
    margin-bottom: 1px;
    margin-left: 10px;
}

header h1{
    font-family:'Poppins', sans-serif;
    font-size: 40px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    color: rgb(54, 95, 128);
}
.logitos{
   display: flex;
   margin-top: 30px;
}
#iniciasesionlogo{
    margin-left: 40px;
    padding: 2px;
    width: 37px;
    height: 36px;
}
#carrito{
    padding: 2px;
    width: 39px;
    height: 36px;
    margin-top: 10px;
    margin-left: 17px;
}
nav {
    background-color: rgb(48, 67, 95);
}

nav ul{
    list-style: none; /*se sacan los puntos del listado*/
    margin: 10px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
nav ul li {
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
    display: inline-block;
    width: 16.3%;
}
nav ul li a{
    text-decoration: none;
    color: rgb(238, 239, 246);
}
a:hover{ /* cambia el color del texto cuando pasa el ratón*/
color: rgb(162, 192, 228);
}

a:active {
    color: rgb(162, 192, 228);
}

h1 {
    font-size: 50px;
    text-align: center;
    padding: 3px;
    margin-top: 50px;
    margin-bottom: 0px;
    text-transform: uppercase;
    text-shadow: 3px black;
    color: white;
}

h1 {
    font-size: 45px;
    color: rgb(51, 74, 110);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

h5{
    text-align: center;
    margin-top: 7px;
}
h5:hover{
    color: rgb(55, 89, 144);
    cursor:pointer;
}
h5:active{
    color: rgb(55, 89, 144);
}
.NovedadesPadre{
    padding: 100px 0px;
    padding-top: 34px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Libro{
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid rgb(120, 106, 109);
    border-radius: 0.7em;
    box-shadow: 0 4px 8px 0 rgb(181, 179, 180), 0px 6px 15px 0 rgb(161, 161, 161);
}
.img-1{
    width:195px;
    height:270px;
}
.img-2{
    width:188px;
    height:245px;
}
.img-3{
    width: 187px;
    height: 246px;
}
.img-4{
    width: 190px;
    height: 245px;
}
.img-5{
   width: 200px;
   height: 265px;
}
.img-6{
    width: 192px;
    height: 270px;
}
.img-7{
    width: 195px;
    height: 270px;
}
.img-8{
    width: 190px;
    height: 245px;
}
.img-9{
    width: 197px;
    height: 244px;
}

.img-10{
    width: 200px;
    height: 268px;
}
h2{
    padding-top: 20px;
}
.FantasiaPadre{
    padding: 100px 0px;
    padding-top: 38px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Fantasia{
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px; 
    /* border: 1px solid rgb(120, 106, 109);
    border-radius: 0.7em; */
    /* box-shadow: 0 4px 8px 0 rgb(181, 179, 180), 0px 6px 15px 0 rgb(161, 161, 161); */
}
.RomancePadre{
    padding: 100px 0px;
    padding-top: 38px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-fantasia1{
    height: 275px;
    width: 190px;

}
.img-fantasia2{
    height: 270px;
    width: 190px;
}
.img-fantasia3{
    height: 270px;
    width: 190px;
}
.img-fantasia4{
    height: 270px;
    width: 190px;
}
.img-romance1{
    height: 270px;
    width: 190px;
}
.img-romance2{
    height: 270px;
    width: 190px;
}
.img-romance3{
    height: 270px;
    width: 190px;
}
.img-romance4{
    height: 270px;
    width: 190px;
}
.load-more{
    margin-top: 0px;
    display: inline-block;
    padding: 10px 17px;
    border-radius: 15px;
    border: 1px solid rgb(199, 201, 203);
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor:pointer;
    align-self: flex-end;
}
.load-more:hover{
    background-color: rgb(55, 89, 144);
    color: rgb(255, 255, 255);
}
.login-card{
    padding: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 365px;
    margin-right: 365px;
    border: solid rgb(54, 95, 128);
    border-radius: 60px;
    background-color: rgb(54, 95, 128);
    font-family: 'Ubuntu', sans-serif;
    font-size: 400%;
}
a{
    display: grid;
    margin-top: 10px;
}
.titulologin, h3{
    color: white;
}
.login-card a{
    color: rgb(201, 214, 251);
}
#buttonlogin{
    margin-top: 10px;
    background-color: rgb(170, 196, 238);
    border: solid rgb(54, 95, 128);
}
.iniciando{
    padding-right: 35px;
    color: rgb(51, 74, 110);
}
footer{
    text-align: center;
    font-size: 16px;
}
